@model IEnumerable<WatchStore.Models.KHACHHANG>
@{
    ViewBag.Title = "Đăng ký    ";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<style>
    tr {
        height: 60px;
        font-size: 20px;
    }

    input {
        width: 500px;
    }

    .button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        cursor: pointer;
    }

    .button1 {
        background-color: white;
        color: black;
        border: 2px solid #4CAF50;
    }

        .button1:hover {
            background-color: #4CAF50;
            color: white;
        }
        li {
             color: #9b59b6;
        }
</style>

<div class="banner_inner">
    <div class="services-breadcrumb">
        <div class="inner_breadcrumb">

            <ul class="short">
                <li>
                    <a href="index.html">Trang chủ</a>
                    <i>|</i>
                </li>
                <li>Đăng ký thành viên</li>
            </ul>
        </div>
    </div>

</div>
<!--//banner -->


<h2 style="text-align:center; color:#9b59b6;"> Đăng ký thành viên </h2>
<hr>
<table align="center">


    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <tr>
            <td>Họ tên:</td>
            <td>

                @Html.TextBox("HotenKH")
                @ViewData["Loi1"]
            </td>
        </tr>
        <tr>
            <td>Tên đăng nhập:</td>
            <td>
                @Html.TextBox("TenDN")
                @ViewData["Loi2"]
            </td>
        </tr>
        <tr>
            <td>Mật khẩu:</td>
            <td>
                @Html.Password("Matkhau")
                @ViewData["Loi3"]
            </td>
        </tr>
        <tr>
            <td>Nhập lại mật khẩu:</td>
            <td>
                @Html.Password("Matkhaunhaplai")
                @ViewData["Loi4"]
            </td>
        </tr>

        <tr>
            <td>Email:</td>
            <td>
                @Html.TextBox("Email")
                @ViewData["Loi5"]
            </td>
        </tr>
        <tr>
            <td>Số điện thoại:</td>
            <td>
                @Html.TextBox("Dienthoai")
                @ViewData["Loi6"]
            </td>
        </tr>
        <tr>
            <td>Ngày sinh:</td>
            <td>

                <input type="date" name="Ngaysinh" />

            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input class="button button1" type="submit" value="Đăng ký" />

            </td>
        </tr>

    }
</table>
<hr>


