@model IEnumerable<WatchStore.Models.CHUDE>
<WebApplication1.Models.>

    <div class="banner-top container-fluid">
        <!-- header -->
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light top-header mb-3">
                <button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                    </span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav nav-mega mx-auto">
                        <li class="nav-item  nav-link">
                            @Html.ActionLink("Trang chủ", "Index", "WatchStore")
                        </li>
                        <li class="nav-item nav-link">
                            @Html.ActionLink("Chúng tôi", "AboutUS", "WatchStore")
                        </li>
                       
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Loại
                            </a>
                            <ul class="dropdown-menu mega-menu ">
                                <li>
                                    <div class="row">
                                        @foreach (var item in Model)
                                        {
                                            <div class="col-md-4 media-list span4 text-left">
                                                <h5 class="tittle-w3layouts-sub">
                                                    <a href="@Url.Action("SPtheochude", "WatchStore", new { id = item.MaCD })" style="font-size:20pt; color:chartreuse">
                                                        @item.TenChuDe
                                                    </a>
                                                </h5>
                                            </div>
                                        }
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item nav-link">
                            @Html.ActionLink("Cửa hàng", "Shop", "WatchStore")
                        </li>
                        <li class="nav-item  nav-link">
                            @Html.ActionLink("Liên hệ", "Lienhe", "FeedBack")
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
    </div>


