

@{
    ViewBag.Title = @Model.TenDH;
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<hr>
<div class="banner_inner">
    <div class="services-breadcrumb">
        <div class="inner_breadcrumb">

            <ul class="short">
                <li>
                    @Html.ActionLink("Trang Chủ", "Index", "WatchStore")
                    <i style="color:black">|</i>
                    @Html.ActionLink("Sản Phẩm", "Details", "WatchStore")
                </li>
                
                
            </ul>
        </div>
    </div>

</div>
<!--//banner -->
<hr>
<section class="banner-bottom-wthreelayouts py-lg-5 py-3">
    <div class="container">
        <div class="inner-sec-shop pt-lg-4 pt-3">
            <div class="row">

                <div class="col-lg-5 single-right-left ">
                    <img alt="@Model.Anhbia" src="~/Content/images/@Model.Anhbia" data-imagezoom="true" class="img-fluid">
                </div>

                <div class="col-lg-7 single-right-left simpleCart_shelfItem">
                    <h3 style=" font-size:40px">@Model.TenDH</h3>
                    <hr />
                    <p>
                        Giá bán :

                        <span> @String.Format("{0:0,0}", @Model.Giaban) VNĐ</span>
                    </p>
                    <hr />
                    <p>
                        Số lượng tồn:
                        <span>@Model.Soluongton</span>
                    </p>
                    <hr />
                    <p>
                        Chất liệu:
                        <span>@Model.Chatlieu</span>
                    </p>
                    <hr />
                    <p>
                        Xuất xứ:
                        <span>@Model.MaNCC</span>
                    </p>
                    <hr />

                    <div id="Datmua">
                        <a href="@Url.Action("ThemGioHang","GioHang", new{@iMaDH =  @Model.MaDH, @strURL = Request.Url.ToString() })" class="btn btn-lg btn-success">
                            Thêm vào giỏ hàng
                        </a>
                    </div>



                </div>
                <div class="clearfix"> </div>


            </div>
        </div>
    </div>
</section>
<hr>