@using WatchStore.Models
@{
    ViewBag.Title = "Sản phẩm theo chủ đề ";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<div class="banner_inner">
    <div class="services-breadcrumb">
        <div class="inner_breadcrumb">

            <ul class="short">
                <li>
                    @Html.ActionLink("Trang Chủ", "Index", "WatchStore")
                    <i style="color:black">|</i>
                    @Html.ActionLink("Sản phẩm theo chủ đề", "SPtheochude", "Nguoidung")



                </li>

            </ul>
        </div>
    </div>

</div>
<!--//banner -->
<div class="row">

    @foreach (var dongho in Model)
    {
        <div class="col-md-3 product-men women_two">
            <div class="product-googles-info googles">
                <div class="men-pro-item">
                    <div class="men-thumb-item">
                        <a href="@Url.Action("Details", "WatchStore", new { id = dongho.MaDH })">
                            <img alt="@dongho.Anhbia" src="~/Content/images/@dongho.Anhbia" />
                        </a>
                        <div class="men-cart-pro">
                            <div class="inner-men-cart-pro">
                                <a href="@Url.Action("Details","WatchStore", new { @id= dongho.MaDH})" class="link-product-add-cart">Xem</a>
                            </div>
                        </div>
                        <span class="product-new-top">Mới</span>
                    </div>
                    <div class="item-info-product">
                        <div class="info-product-price">
                            <div class="grid_meta">
                                <div class="product_price">
                                    <h4>
                                        <a href="single.html">@dongho.TenDH</a>
                                    </h4>
                                    <div class="grid-price mt-2">
                                        <span>@dongho.Giaban  </span>
                                    </div>
                                </div>
                                <ul class="stars">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
